:root {
	// FONTS

	--poppins: "Poppins", sans-serif;
	--montserrat: "Montserrat", sans-serif;
	--pt-serif: "PT Serif", serif;

	// COLORS

	--black: #000000;
	--gray: #a9a9a9;
	--white: #ffffff;
}
